@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
html,
body {
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
    overflow-x: hidden;
    background-color: #F1F1F1; 
}


    


p, li {
color: #343F64;
line-height: 1.5em; 
font-size: 14px; }
p{margin-bottom: 7px;}
li{margin-bottom: 4px;}

/*---------------------------- NAV -------------------*/
.wrap .navbar-inverse {
    background-color: #343F64;
    border-color: #080808;
}



.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}
.wrap .navbar-inverse .navbar-brand{
    padding: 0
}
.wrap .navbar-inverse .navbar-brand  span {
     padding: 15px;
     color: #E4D788;
     text-transform: uppercase;
     font-weight: bold;
     /*margin-right: 15px:*/
}

.wrap  .navbar-inverse  .navbar-brand img {
  display: inline;
}

.wrap .navbar-inverse .navbar-toggle{
   background-color:  #fff;
   border-color: #343F64;
}
.wrap .navbar-inverse .navbar-toggle:hover, 
.wrap .navbar-inverse .navbar-toggle:focus {
   background-color:  #E4D788;
   border-color: #343F64;
}

.wrap .navbar-inverse .navbar-toggle .icon-bar {
   background-color:  #343F64;
}

.wrap  .navbar-inverse .navbar-nav  .active  a, 
.wrap  .navbar-inverse .navbar-nav  .active  a:hover, 
.wrap  .navbar-inverse .navbar-nav  .active  a:focus
{
    color: #E4D788;
    background-color:     transparent ;
}

.wrap .navbar-inverse .navbar-nav  li  a:hover, 
.wrap .navbar-inverse .navbar-nav   li  a:focus {
    color: #ccc;
    background-color:     transparent ;
    transition: color 0.4s ease 0s;*/
}

.wrap .navbar-inverse .navbar-nav  li  a{
    color: #fff;
    text-transform: uppercase;
}
.wrap .navbar-inverse .navbar-collapse{
    
    background-color: #343F64;
}

/*---------------------------- CONTENT -------------------*/

.wrap > .container {
    padding: 70px 15px 20px;
}
.border {
width: 75px; 
border:2px solid #343F64; 
margin: 10px auto
}

.jb {
    text-align: center;
    background-color: #FFFFFF;
 }  

 h1 { 
    font-weight: bold;

  color: #343F64;
   font-size: 35px;
  line-height: 1.4em;

}

 h2 { 
    font-weight: bold;

  color: #343F64;
   font-size: 30px;
  line-height: 1.4em;

}

.wrap a {
     color: #343F64;
}

.breadcrumb {
    background-color: transparent;
    border: 1px solid #343F64;
}

.breadcrumb  .active{
       color: #ccc;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}


.footer {
    border-top: 1px solid #ddd;
    padding-top: 50px;
    background-color: #343F64;
    height: 193px;


}

.footer h4 {
color: #fff; 
text-align: center;
margin-bottom: 25px;
}

.footer p {
   font-size: 14px;
    color: #ccc;
    text-align: center;
}

.wrap .update-data {
     background-color: #343F64;

}

.wrap .update-data h2{
color: #fff;
margin-bottom: 20px; 
font-size: 24px;
text-align: center;
}

.wrap .update-data h4{
color: #fff;
font-size: 20px;
}

.wrap .update-data {
    padding: 15px;
}

.wrap .update-data p{
color: #959CB2;
padding-left:10px;
font-size: 16px;

}

.wrap .update-data  .btn-default {
    background-color: #E4D788; border-radius: 0;
}


.wrap .update-data  a .btn{
    

}






/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {


    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    
.jumbotron {
    
    border: 1px solid #343F64;
 } 
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .footer {
      height: auto;
    }

    .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
 .wrap .navbar-inverse {
    background-color: #fff;
    border-color: #080808;
}
.wrap .navbar-inverse .navbar-brand {
    text-align: center;
    color: #343F64;
}

.wrap .navbar-inverse .navbar-brand img{
    padding-left: 20px;
}

.wrap .navbar-inverse .navbar-brand span {
    text-align: center;
    color: #343F64;
}


.jumbotron {
    border: 1px solid #343F64;
 } 

.jumbotron h1 { 

   font-size: 25px;
  line-height: 1.4em;

}

.jumbotron p.lead {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 200;
}

.wrap .update-data h2{
font-size: 18px;
text-align: center;
}

.wrap .update-data h4{
color: #fff;
font-size: 16px;
}


.wrap .update-data p{
padding-left:25px;
font-size: 12px;

}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
.wrap .navbar-inverse {
    background-color: #fff;
    border-color: #080808;
}
.wrap .navbar-inverse .navbar-brand img{
    padding-left: 20px;
}

.wrap .navbar-inverse .navbar-brand span {
    text-align: center;
    color: #343F64;
    font-size: 18px;
    padding:0;
}



}

.wrap ul.nav.nav_page {
  background-color: #343F64;
  padding: 5px;
}

.wrap ul.nav.nav_page  li {
  padding-left: 4px;
  padding-bottom: 4px; 
  font-size:14px;
  color: #E4D788;
}

.wrap ul.nav.nav_page  li.nav-header ul li {
  list-style-type: none;
}

.wrap ul.nav.nav_page  li.nav-header ul li.active a {
  color: #9d9d9d; 
}



.wrap ul.nav.nav_page  a {
  color: #fff;
}



/*
 * Off Canvas
 * --------------------------------------------------
 */
