/* Photo Gallery */
.gallery-manager {
  position: relative;
  border: 1px solid #DDD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  min-height: 200px; }
  .gallery-manager .photo {
    position: relative;
    float: left;
    background-color: #fff;
    margin: 4px;
    height: 210px;
    width: 140px;
    display: block;
    padding: 4px;
    line-height: 1;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075); }
    .gallery-manager .photo img {
      width: 140px;
      height: auto; }
    .gallery-manager .photo a {
      padding-left: 8px; }
    .gallery-manager .photo .actions {
      float: right;
      position: absolute;
      bottom: 4px;
      right: 4px; }
  .gallery-manager hr {
    margin: 0 4px; }
  .gallery-manager .btn-file {
    position: relative;
    overflow: hidden; }
  .gallery-manager .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block; }
  .gallery-manager .caption h5 {
    margin: 0;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden; }
  .gallery-manager .caption p,  .gallery-manager .caption span {
    font-size: 13px;
  white-space: nowrap;
  overflow: hidden; }
  .gallery-manager.no-desc .photo {
    height: 138px; }
  .gallery-manager.no-name .photo {
    height: 160px; }
  .gallery-manager.no-name-no-desc .photo {
    height: 120px; }
  .gallery-manager .image-preview {
    height: 88px;
    overflow: hidden; }
  .gallery-manager .photo-select {
    position: absolute;
    bottom: 8px;
    left: 8px; }
  .gallery-manager .photo.selected {
    background-color: #cef;
    border-color: blue; }
  .gallery-manager .overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .gallery-manager .overlay-bg {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #efefef;
    opacity: .5;
    width: 100%;
    height: 100%; }
  .gallery-manager.over .overlay {
    display: block; }
  .gallery-manager .drop-hint {
    background-color: #efefef;
    border: 2px #777 dashed;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    width: 50%;
    margin: -50px 0 0 -25%;
    text-align: center; }
  .gallery-manager .drop-hint-info {
    color: #777;
    font-weight: bold;
    font-size: 30px;
    margin-top: 35px;
    vertical-align: middle;
    display: inline-block; }
  .gallery-manager .progress-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .gallery-manager .progress-overlay .modal {
      position: relative;
      display: block;
      top: 80px; }

.editor-modal .photo-editor {
  min-height: 156px;
  padding: 4px; }
  .editor-modal .photo-editor:not(:last-child) {
    border-bottom: 1px solid #DDD; }
